<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="account" value="wjl"/>
		<add key="password" value="123456"/>
		<add key="connectionString" value="server=127.0.0.1;database=testdb;uid=wjl;pwd=123456"/>
	</appSettings>
</configuration>